<form action="/films" method="post">
	
	
	<input type="date">
	<input type="tel">
	<input type="email">

	#fieldset / legend

	#radiobutton and checkbuttons!

	#input radio / checkbox
	<fieldset>	
			<genre>
			<label>
				<input type="radio" name="genre"> value ="action"
				ACTION
			</label>
			<label>
				<input type="radio" name="genre"> value ="ADEVENTURE"
				ADVENTURE
			</label>
			<label>
				<input type="radio" name="genre"> value ="horror"
				HORROR
			</label>
		</genre>
	</fieldset>
	#label

	# select / option
	<label for "film-country">Country</label>
	<select name="country" 
	</select>
	# textarea

	# file

	#hidden

