<!DOCTYPE html>
<html lang="en">
	<head>
	 <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
<body>



	<h1> 
		
	</h1>



	<main>
		<%= yield %>
	</main>
	
	


	<nav>
		<ul>
			<li>Menu 001</li>
			<li>Menu 002</li>
			<li>Menu 003</li>
			<li>Menu 004</li>
			<li>Menu 005</li>
		</ul>
	</nav>
	

	<footer>
		COPYWRITE @BlackIronPrison 2015
	</footer>


	</body>
</html>